

.sa-titulo{
  /* propiedad:valorDeLaPropiedad;*/
  color: rgba(255, 57, 43, 0.07);
  background-color: #76070c;
  border-style: solid;
  border-color: rgba(116, 118, 16, 0.6);
  border-width: 4px;
}
