
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Entrenador" disabled value="Cabecera">
  </mat-form-field>

  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="nombres">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="apellidos">
        </mat-form-field>
      </td>
    </tr>
  </table>

  <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="fechanacimiento">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="numeroMedallas">
        </mat-form-field>
      </td>
      <td>
        <mat-checkbox>campeonActual</mat-checkbox>
      </td>

    </tr>
  </table>
  <div class="so-boton-limpiar">
    <button mat-raised-button color="primary">Limpiar</button>
  </div>
  <div class="">
    <button mat-raised-button color="accent">Crear</button>
  </div>

</form>
