
<form class="example-form">
  <div class="ui-g ui-fluid">
     <span class="ui-float-label">
       <input id="numero-input" type="text" size="30" pInputText>
       <label for="numero-input">Numero Pokemon</label>
    </span>
    </div>
    <div class="ui-g ui-fluid">
     <span class="ui-float-label">
       <input id="nombrePokemon-input" type="text" size="30" pInputText>
       <label for="nombrePokemon-input">Nombre Pokemon</label>
     </span>
    </div>
    <div class="ui-g ui-fluid">
     <span class="ui-float-label">
       <input id="poderEspecialUno-input" type="text" size="30" pInputText>
       <label for="poderEspecialUno-input">Poder Especial Uno</label>
     </span>
    </div>
    <div class="ui-g ui-fluid">
     <span class="ui-float-label">
       <input id="poderEspecialDos-input" type="text" size="30" pInputText>
       <label for="poderEspecialDos-input">Poder Especial Dos</label>
     </span>
    </div>
    <div class="ui-g ui-fluid">
     <span class="ui-float-label">
       <input id="fechaCaptura-input" type="text" size="30" pInputText>
       <label for="fechaCaptura-input">Fecha de Captura</label>
     </span>
    </div>
    <div class="ui-g ui-fluid">
     <span class="ui-float-label">
       <input id="nivel-input" type="text" size="30" pInputText>
       <label for="nivel-input">Nivel</label>
     </span>
    </div>
</form>
<br>
<div class="ui-g ui-fluid">
  <button pButton type="button" label="Limpiar" class="ui-button-warning"></button>
</div>
<div class="ui-g ui-fluid">
  <button pButton type="button" label="Crear" class="ui-button-success"></button>
</div>


