<form class="example-form">
  <div>
    <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
    <input type="text" pInputText placeholder="Numero Pokemon">
  </div>
  <br>
  <div>
    <input type="text" pInputText placeholder="Nombre Pokemon"/>
  </div>
  <br>
  <div>
    <input type="text" pInputText placeholder="Poder Especial Uno"/>
  </div>
  <br>
  <div>
    <input type="text" pInputText placeholder="Poder Especial Uno"/>
  </div>
  <br>
  <div>
    <p-calendar [(ngModel)]="valueDate" name="Fecha Captura"></p-calendar>
  </div>
  <br>
  <div>
    <input type="text" pInputText placeholder="Nivel"/>
  </div>
  <br>
  <div>
    <input type="text" pInputText placeholder="ID Entrenador"/>
  </div>
  <hr/>
</form>
<br>
<p-button label="Crear" (onClick)="clickCrear($event)"></p-button>
<p-button label="Limpiar" styleClass="ui-button-danger" (onClick)="clickLimpiar($event)"></p-button>

<div class="col-sm-6">
  <h1>SimpleCard</h1>
  <p-card title="SimpleCard">
    <!--{{pokemones}}-->
  </p-card>
</div>


