<div class="row">
  <div class="col-sm-6">Carrusel</div>
  <div class="col-sm-6">Cabecera</div>
</div>


<div class="row">
  <div class="col-sm-6">Carrusel</div>
  <div class="col-sm-6">Cabecera</div>
</div>


<div class="row">
  <div class="col-sm-6">Carrusel</div>
  <div class="col-sm-6">Cabecera</div>
</div>

<div class="row">
  <div class="col-sm-6">Carrusel</div>
  <div class="col-sm-6">Cabecera</div>
</div>

<div class="row">
  <div class="col-sm-6">Carrusel</div>
  <div class="col-sm-6">Cabecera</div>
</div>
