<div class="row">
  <div class="col-sm-6">
    <app-carrusel></app-carrusel>
  </div>
  <div class="col-sm-6">
    <br>
    <h1>Entrenador</h1>
    <app-entrenador [arreglo]="arregloPokemon"></app-entrenador>
  </div>
</div>
<br>
<!--<div class="col-sm-3 text-center">
 *ngFor="let entrenador of arregloPokemon">-->
<div>
  <app-estado>
    <!-- [nombreng]="entrenador.nombreng"
     [campeong]="entrenador.campeong"-->
  </app-estado>
</div>
<br>

<div class="row">
  <div class="col-sm-6">
    <br>
    <h1>Pokemon</h1>
    <app-pokemon></app-pokemon>
  </div>
  <div class="col-sm-6">
    <br>
    <h1>Simple Card</h1>
    <app-simplecard></app-simplecard>
  </div>
</div>
<br>
<br>
<div class="col-sm-12">
  <br>
  <h1>Tabla</h1>
  <app-tabla></app-tabla>
</div>
</div>
